   ## Toranto Neighbourhood Explorer

<p> Import the required pandas package
and initialize the 2 url variable for required data.</p>

In [53]:
import pandas as pd
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
geo_coordinate_url='https://cocl.us/Geospatial_data'

<p> Read the html table presnt in wikipedia website, with link present in 'url' variable and display the top 5 rows </p>

In [54]:
tables = pd.read_html(url)[0]
tables.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

<p> Filter the dataframe, with loc, primarily label based. Here it is filtering the Borough columns **other than** 'Not assigned' values.</p>

In [55]:
df=tables.loc[tables.Borough != 'Not assigned',:]

In [56]:
df.head(2)

  Postal code     Borough      Neighborhood
2         M3A  North York         Parkwoods
3         M4A  North York  Victoria Village

In [57]:
df.groupby('Postal code')['Neighborhood'].apply(' / '.join).reset_index()
df.loc[df.Neighborhood=='Not assigned',:]
df.tail()

,Postal code,Borough,Neighborhood
160,M8X,Etobicoke,The Kingsway / Montgomery Road / Old Mill North
165,M4Y,Downtown Toronto,Church and Wellesley
168,M7Y,East Toronto,Business reply mail Processing CentrE
169,M8Y,Etobicoke,Old Mill South / King's Mill Park / Sunnylea /...
178,M8Z,Etobicoke,Mimico NW / The Queensway West / South of Bloo...

<p>Getting the dataframe shape by .shape attribute.</p>

In [58]:
df.shape

(103, 3)

#### Read geographical coordinates of each postal code data from .csv file

<p> Read using pandas read_csv() funtion, store in geo_cor dataframe varaible and display the top 2 row.</p>

In [60]:
geo_cor=pd.read_csv(geo_coordinate_url)
geo_cor.head(2)

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497

<p> Rename the Postal Code column, because the first dataframe have c in lower case and geographical coordinates have upper case. and made changes to the  existing dataframe by **inplace=True** </p>

In [61]:
geo_cor.rename(columns={'Postal Code': 'Postal code'}, inplace=True)

In [62]:
geo_cor.head(2)

  Postal code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497

<p>For merge to work between 2 tables, we need to set the index of both the tables i.e works line primary key column.</p>

In [63]:
df.set_index("Postal code")
geo_cor.set_index("Postal code")

#Merging both the tables in one
toronto_data=pd.merge(geo_cor, df)
toronto_data.head()

,Postal code,Latitude,Longitude,Borough,Neighborhood
0,M1B,43.806686,-79.194353,Scarborough,Malvern / Rouge
1,M1C,43.784535,-79.160497,Scarborough,Rouge Hill / Port Union / Highland Creek
2,M1E,43.763573,-79.188711,Scarborough,Guildwood / Morningside / West Hill
3,M1G,43.770992,-79.216917,Scarborough,Woburn
4,M1H,43.773136,-79.239476,Scarborough,Cedarbrae